.game {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.help {
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}
.target {
  width: 300px;
  font-size: 45px;
  text-align: center;
  display: inline-block;
  background-color: lightblue;
}
.challenge-numbers {
  width: 100%;
  margin: 10px auto;
}
.nes-btn {
  width: 40%;
  text-align: center;
  font-size: 36px;
  margin: 1rem 5%;
  display: inline-block;
}

.is-error {
  font-size: 27px;
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.timer-value {
  color: darkgreen;
  font-size: 150%;
}
button:focus {
  outline: none;
}
